@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&display=swap");
.header-lession {
  height: auto;
}

.banner-inner-page {
  padding: 60px 0 0 0;
  background-color: #222222;
  position: relative;
}

.banner-inner-page .row {
  width: 100%;
}

.banner-inner-page .banner-inner-div {
  height: 485px;
  background-image: url(../images/bg-grid.jpg);
  background-size: cover;
  background-position: center;
}

.banner-inner-page .banner-inner-content {
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 120px 0 0 0;
}

.banner-inner-page .banner-inner-content .banner-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.banner-inner-page .banner-inner-content .banner-top {
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-inner-page .banner-inner-content .banner-top h3 {
  color: #EBEBEB;
  font-weight: 700;
  margin-bottom: 5px;
}

.banner-inner-page .banner-inner-content .banner-top p {
  font-size: 12px;
  color: #ADADAD;
  margin-bottom: 0;
}

.banner-inner-page .banner-inner-content .banner-top p span {
  padding: 0 0 0 5px;
  border-left: 1px solid #EBEBEB;
  color: #3398B9;
  display: inline;
  margin-left: 5px;
}

.banner-inner-page .banner-inner-content .playbutton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-inner-page .banner-inner-content .banner-bottom .btn {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  height: 52px;
}

.banner-inner-page .banner-inner-content .banner-bottom .btn img {
  margin-right: 4px;
}

.banner-inner-page .banner-inner-content .banner-bottom-share {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #EBEBEB;
  padding: 10px 15px;
  height: 52px;
  border-radius: 2px;
}

.banner-inner-page .banner-inner-content .banner-bottom-share ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.banner-inner-page .banner-inner-content .banner-bottom-share ul li {
  list-style: none;
  display: inline-block;
}

.banner-inner-page .banner-inner-content .banner-bottom-share ul li a {
  display: block;
  padding: 5px 5px;
  color: #EBEBEB;
  font-size: 12px;
  line-height: 13px;
  text-decoration: none;
}

.banner-inner-page .banner-inner-content .banner-bottom-share ul li a i {
  margin-right: 5px;
}

.banner-inner-page .banner-inner-content .banner-bottom-share ul li a:hover {
  color: #006586;
}

.header-lession .logo-heder {
  display: none;
}

.modal-video .close {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: #ffffff;
  position: fixed;
  right: 20px;
  width: 30px;
  top: 20px;
  height: 30px;
  border-radius: 100%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: 99;
  color: #000000;
  opacity: 1;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-video .modal-dialog {
  max-width: 640px;
  width: 100%;
}

.modal-video .modal-dialog .modal-body {
  padding: 0;
  width: 100%;
  height: 380px;
}

.disabled {
  background-color: #999999 !important;
}

.lession-section {
  padding: 20px 0;
  background-color: #ffffff;
}

.lession-section .br-01 {
  border-right: 1px solid #707070;
}

.lession-section .row-10 {
  margin: 0 -10px;
}

.lession-section .row-10 .pad-10 {
  padding: 0 10px;
}

.lession-section .bt-01 {
  border-top: 1px solid #707070;
}

.lession-section .lession-content-left .content {
  margin-bottom: 25px;
}

.lession-section .lession-content-left .content h3 {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

.lession-section .lession-content-left .content p {
  color: #333333;
  font-size: 16px;
  line-height: 19px;
}

.lession-section .lession-content-left .content a {
  color: #3398B9;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.lession-section .lession-content-left .content a span {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
}

.lession-section .lession-content-left .content .lession-item ul {
  margin: 0;
  padding: 0;
}

.lession-section .lession-content-left .content .lession-item ul li {
  list-style: none;
  display: block;
  margin-bottom: 15px;
}

.lession-section .lession-content-left .content .lession-item ul li span {
  color: #717171;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lession-section .lession-content-left .content .lession-item ul li span i {
  margin-right: 5px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lession-section .lession-content-left .content .tech-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lession-section .lession-content-left .content .tech-support .tech-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 70px;
}

.lession-section .lession-content-left .content .tech-support .tech-box img {
  margin-bottom: 12px;
  height: 20px;
  width: 20px;
}

.lession-section .lession-content-left .content .tech-support .tech-box p {
  font-size: 10px;
  line-height: 14px;
}

.lession-section .lession-content-left .content .tech-support .tech-box .icon-tech {
  margin-bottom: 5px;
}

.lession-section .lession-content-left .content .tech-support .tech-box .icon-tech i {
  font-size: 20px;
}

.lession-section .lession-content-left .content-language p {
  margin-bottom: 8px;
}

.lession-section .lession-content-right .content {
  margin-bottom: 25px;
}

.lession-section .lession-content-right .content h3 {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

.lession-section .lession-content-right .content p {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}

.lession-section .lession-content-right .content .topic-tag {
  display: block;
  width: 100%;
}

.lession-section .lession-content-right .content .topic-tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.lession-section .lession-content-right .content .topic-tag ul li {
  margin-right: 12px;
  display: inline-block;
  margin-bottom: 10px;
  float: none;
}

.lession-section .lession-content-right .content .topic-tag ul li a {
  padding: 5px 15px;
  background-color: #D6D6D6;
  border-radius: 30px;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.lession-section .lession-content-right .content .topic-tag ul li .add-tag {
  background-color: #3398B9;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  padding-right: 30px;
  position: relative;
}

.lession-section .lession-content-right .content .topic-tag ul li .add-tag::after {
  content: "\f055" !important;
  position: absolute;
  font-family: Font Awesome\ 5 Free !important;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  right: 8px;
  top: 8px;
  font-size: 12px;
}

.lession-section .lession-content-right .content .lernig-outcome {
  margin-bottom: 20px;
}

.lession-section .lession-content-right .content .lernig-outcome ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lession-section .lession-content-right .content .lernig-outcome ul li {
  display: block;
  color: #333333;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.lession-section .lession-content-right .content .lernig-outcome ul li span {
  margin-right: 8px;
}

.lession-section .lession-content-right .content .pre-requesti ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.lession-section .lession-content-right .content .pre-requesti ul li {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.lession-section .lession-content-right .learn-card {
  margin-bottom: 20px;
}

.lession-section .lession-content-right .learn-card h3 {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
}

.lession-section .lession-content-right .learn-card .learn-card-body {
  background-color: #EBEBEB;
  padding: 15px 20px;
  min-height: 300px;
}

.lession-section .lession-content-right .learn-card .learn-card-body ul {
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  min-height: 180px;
}

.lession-section .lession-content-right .learn-card .learn-card-body ul li {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.lession-section .lession-content-right .learn-card .learn-card-body .learn-card-footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 222px;
}

.lession-section .lession-content-right .learn-card .learn-card-body .learn-card-footer .btn-blue {
  background-color: #006586;
  color: #ffffff;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  white-space: nowrap;
  width: 100%;
}

.lession-section .lession-content-right .learn-card .learn-card-body .learn-card-footer .btn-blue:hover {
  background-color: #00516B;
}

.lession-section .lession-content-right .learn-card .learn-card-body .learn-card-footer span {
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  width: 100%;
  display: block;
  margin: 8px 0;
  color: #3398B9;
}

.lession-section .featured-box {
  background-color: #EBEBEB;
  display: block;
  padding: 5px 10px 10px 10px;
  text-decoration: none;
}

.lession-section .featured-box .heading h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-decoration: none;
}

.lession-section .featured-box .img-box img {
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}

.lession-section .flipbox .flipedbox {
  position: absolute;
  top: -50%;
  left: -40%;
  right: auto;
  min-width: 515px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lession-section .flipbox .flipedbox .flipedbox-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-heading .arrow-back {
  display: none;
}

.lession-section .flipbox .flipedbox .flipedbox-heading .left h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.lession-section .flipbox .flipedbox .flipedbox-heading .left p {
  font-size: 11px;
  line-height: 15px;
  color: #333333;
  margin-bottom: 0;
}

.lession-section .flipbox .flipedbox .flipedbox-heading .left p span {
  border-left: 1px solid #ffffff;
  color: #3398B9;
  margin-left: 5px;
}

.lession-section .flipbox .flipedbox .flipedbox-heading .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.lession-section .flipbox .flipedbox .flipedbox-heading span {
  color: #3398B9;
  font-size: 14px;
  line-height: 12px;
  padding: 0 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-heading span img {
  top: -3px;
  position: relative;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  padding-left: 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img {
  width: 228px;
  min-width: 228px;
  height: 228px;
  position: relative;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img img {
  width: 100%;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img .img-cornor {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 124px;
  height: 40px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img .img-cornor img {
  width: 100%;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail {
  padding: 0px 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail p {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail a {
  color: #3398B9;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share ul li {
  display: inline-block;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share ul li a {
  padding: 3px 8px;
  color: #006586;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share ul li a:hover {
  color: #006586;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share .learmore-div .btn-learnmore {
  background-color: #006586;
  color: #ffffff;
  padding: 5px 15px;
  white-space: nowrap;
  height: 40px;
  display: block;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-detail .learn-share .learmore-div .btn-learnmore:hover {
  background-color: #222222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle {
  border-bottom: 1px solid #C2C2C2;
  border-top: 1px solid #C2C2C2;
  padding: 10px 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 5px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left {
  text-align: center;
  display: block;
  width: 100%;
  padding-left: 5px;
  border-right: 1px solid #C2C2C2;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left .lession-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: inline-block;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left .lession-info li {
  display: inline-block;
  width: calc( 50% - 5px);
  padding: 5px 5px 5px 5px;
  vertical-align: top;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left .lession-info li a {
  font-size: 12px;
  line-height: 12px;
  color: #3398B9;
  text-align: left;
  display: block;
  position: relative;
  padding-left: 20px;
  width: 100%;
  word-break: break-all;
  text-decoration: none;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left .lession-info li a i {
  position: absolute;
  left: 0px;
  top: 0px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left .lession-info li a.color-white {
  color: #858585;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right {
  text-align: center;
  display: block;
  width: 100%;
  padding-left: 5px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right .lession-resource {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: inline-block;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right .lession-resource li {
  display: inline-block;
  width: calc( 100% - 0px);
  padding: 5px 5px 5px 5px;
  vertical-align: top;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right .lession-resource li a {
  font-size: 12px;
  line-height: 12px;
  color: #3398B9;
  text-align: left;
  display: block;
  position: relative;
  padding-left: 20px;
  width: 100%;
  word-break: break-all;
  text-decoration: none;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right .lession-resource li a i {
  position: absolute;
  left: 0px;
  top: 0px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .right .lession-resource li a.color-white {
  color: #858585;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle h3 {
  font-size: 14px;
  color: #333333;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic {
  padding: 5px 10px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic h3 {
  font-size: 11px;
  line-height: 15px;
  color: #333333;
  font-weight: 700;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic .topic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic .topic-list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic .topic-list li .tag {
  padding: 3px 10px;
  background-color: #D6D6D6;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  color: #333333;
  font-size: 11px;
  text-decoration: none;
  position: relative;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic .topic-list li .tag-add {
  padding-right: 30px;
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
  background-color: #999999;
}

.lession-section .flipbox .flipedbox .flipedbox-body .fliped-topic .topic-list li .tag-add::after {
  content: "\f055";
  position: absolute;
  font-family: Font Awesome\ 5 Free !important;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  right: 5px;
  font-size: 12px;
  top: 5px;
}

.lession-section .flipbox .flipedbox #text_hide_show {
  display: none;
}

.lession-section .flipbox .flipedbox.active {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9;
}

.lession-section .flipedbox.active {
  display: block;
}

@media (max-width: 320px) {
  .banner-bottom {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .banner-inner-page .banner-inner-content .banner-bottom-share {
    height: auto;
  }
  .banner-inner-page .banner-inner-content .banner-bottom-share ul li {
    display: block;
  }
}

@media (max-width: 767px) {
  .banner-inner-page .banner-inner-content .banner-bottom .btn {
    font-size: 12px;
  }
  .banner-inner-page .banner-inner-content .banner-bottom .btn span {
    display: none;
  }
  .banner-inner-page .banner-inner-content .banner-bottom-share {
    padding: 10px 10px;
  }
  .banner-inner-page .banner-inner-content {
    padding: 80px 0 0 0;
  }
  .lession-section .lession-content-right .learn-card .learn-card-body {
    min-height: unset;
  }
  .lession-section .lession-content-right .learn-card .learn-card-body ul {
    min-height: unset;
  }
  .lession-section .flipbox .flipedbox.removed {
    display: none !important;
  }
  .lession-section .flipbox .flipedbox {
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    z-index: 99;
    min-width: unset;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 60px;
  }
  .lession-section .flipbox .flipedbox .flipedbox-heading {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 35px;
  }
  .lession-section .flipbox .flipedbox .flipedbox-heading .arrow-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333333 !important;
    width: 50px;
    height: 50px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .lession-section .flipbox .flipedbox .flipedbox-heading .left {
    width: 100%;
    text-align: center;
  }
  .lession-section .flipbox .flipedbox .flipedbox-heading .right {
    display: none;
  }
  .lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img {
    height: unset;
    width: 100%;
    padding: 10px;
  }
  .lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-top .fliped-img .img-cornor {
    left: 10px;
    bottom: 10px;
  }
  .lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lession-section .flipbox .flipedbox .flipedbox-body .fliped-content-middle .left {
    border-right: 0px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .lession-section .lession-content-right .learn-card .learn-card-body {
    min-height: unset;
  }
  .lession-section .lession-content-right .learn-card .learn-card-body ul {
    min-height: unset;
  }
}
/*# sourceMappingURL=collection.css.map */