.modal.modal-auth .modal-dialog {
  max-width: 510px;
}

.modal.modal-auth .modal-dialog .modal-content {
  border-radius: 0;
}

.modal.modal-auth .modal-dialog .modal-content .modal-header {
  background-color: #E8E8E8;
}

.modal.modal-auth .modal-dialog .modal-content .modal-header h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.modal.modal-auth .modal-dialog .modal-content .modal-header .close {
  font-size: 30px;
  outline: 0 !important;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main {
  padding: 0 10px;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-info p {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 20px;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control {
  height: 40px;
  font-size: 16px;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control:focus {
  border-color: #333333 !important;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control::-webkit-input-placeholder {
  font-style: italic;
  color: #717171;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control:-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control::-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .form-control::placeholder {
  font-style: italic;
  color: #717171;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .forgot-link {
  display: block;
  text-align: right;
  color: #3398B9;
  font-size: 16px;
  font-weight: 22px;
  margin: 5px 0;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .forgot-link a {
  color: #3398B9;
  text-decoration: underline;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group .forgot-link a:hover {
  color: #006586;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .btn {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  line-height: 26px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .btn-blue {
  background-color: #006586;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .btn-blue:hover {
  background-color: #00516B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .btn-yello {
  background-color: #D77009;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .btn-yello:hover {
  background-color: #AC5A07;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .text-or {
  margin: 10px 0;
  text-align: center;
  position: relative;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .text-or span {
  background-color: #ffffff;
  padding: 5px 8px;
  position: relative;
  z-index: 1;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .btn-groups .text-or:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #D6D6D6;
  left: 0;
  top: 14px;
  display: block;
  z-index: 0;
}

.user-signin .dropdown-menu {
  top: -5px;
  max-width: 320px !important;
  width: 100% !important;
  min-width: 320px !important;
  padding: 0;
}

.user-signin .dropdown-menu .login-form-main {
  padding: 0 0px;
}

.user-signin .dropdown-menu .login-form-main .login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E8E8E8;
  height: 60px;
  padding: 10px 25px;
}

.user-signin .dropdown-menu .login-form-main .login-header .user-info h3 {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  font-weight: 800;
  margin: 0;
}

.user-signin .dropdown-menu .login-form-main .login-header .user-picture img {
  height: 40px;
  width: 46px;
  min-width: 46px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.user-signin .dropdown-menu .login-form-main .login-info p {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 20px;
}

.user-signin .dropdown-menu .login-form-main .login-form {
  padding: 15px 25px;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control {
  height: 40px;
  font-size: 16px;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control:focus {
  border-color: #333333 !important;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control::-webkit-input-placeholder {
  font-style: italic;
  color: #717171;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control:-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control::-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .form-control::placeholder {
  font-style: italic;
  color: #717171;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .forgot-link {
  display: block;
  text-align: left;
  color: #3398B9;
  font-size: 16px;
  font-weight: 22px;
  margin: 5px 0;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .forgot-link a {
  color: #3398B9;
  text-decoration: underline;
}

.user-signin .dropdown-menu .login-form-main .login-form .form-group .forgot-link a:hover {
  color: #006586;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .btn {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  line-height: 26px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .btn-blue {
  background-color: #006586;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .btn-blue:hover {
  background-color: #00516B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .btn-yello {
  background-color: #D77009;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .btn-yello:hover {
  background-color: #AC5A07;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .text-or {
  margin: 10px 0;
  text-align: center;
  position: relative;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .text-or span {
  background-color: #ffffff;
  padding: 5px 8px;
  position: relative;
  z-index: 1;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.user-signin .dropdown-menu .login-form-main .login-form .btn-groups .text-or:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #D6D6D6;
  left: 0;
  top: 14px;
  display: block;
  z-index: 0;
}

.header-signup {
  height: auto;
}

.header-signup .fixed-top .logo-heder {
  position: absolute;
  top: 10px;
}

.header-signup .navbar {
  height: auto;
}

.header-signup .navbar .logo-heder {
  position: absolute;
  top: 10px;
  padding: 0 !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.header-signup .navbar .logo-heder .navbar-brand {
  margin: 0 0 0 0px !important;
}

.header-signup .navbar .logo-heder .navbar-brand img {
  height: 40px !important;
  width: auto !important;
}

.header-signup .main-header {
  height: 0;
}

.header-signup .main-header .search-bar {
  display: none;
}

.header-signup .main-header .top-header-right {
  max-width: 100%;
}

.header-signup .main-header .top-header-right .user {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 99;
}

.header-signup .sub-header {
  height: 60px;
  background-color: #222222;
}

.signup-section {
  height: 100%;
  min-height: 723px;
  position: relative;
  background-color: #222222;
  padding: 120px 0 0px 0;
}

.signup-section .signup-bg {
  height: 723px;
  min-height: 723px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/slide-2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  opacity: 0.3;
}

.signup-section .signup-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0)), to(#222222));
  background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 100%);
  z-index: 3;
}

.signup-section .signup-bg::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #222222), to(rgba(34, 34, 34, 0)));
  background: linear-gradient(180deg, #222222 100%, rgba(34, 34, 34, 0) 100%);
}

.signup-section .signup-inner {
  z-index: 2;
  position: relative;
}

.signup-section .signup-info .signup-info-box {
  padding: 0 0 0 95px;
  position: relative;
  margin-bottom: 30px;
}

.signup-section .signup-info .signup-info-box .info-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 77px;
  width: 77px;
}

.signup-section .signup-info .signup-info-box .info-icon img {
  width: 100%;
}

.signup-section .signup-info .signup-info-box .info-content h3 {
  color: #EBEBEB;
  font-weight: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 30px;
}

.signup-section .signup-info .signup-info-box .info-content p {
  color: #EBEBEB;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.signup-section .signup-form {
  max-width: 655px;
  margin: 0 auto;
}

.signup-section .signup-form .signup-header {
  background-color: #E8E8E8;
  height: 60px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.signup-section .signup-form .signup-header h3 {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  font-weight: 700;
  margin: 0;
}

.signup-section .signup-form .signup-body {
  background-color: #ffffff;
  padding: 20px 20px;
}

.signup-section .signup-form .signup-body hr {
  border-color: #D6D6D6;
}

.signup-section .signup-form .signup-body h4 {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 19px;
}

.signup-section .signup-form .signup-body .group-checkbox {
  padding: 0 0 0 20px;
}

.signup-section .signup-form .signup-body .group-checkbox .custom-control-label {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 5px;
}

.signup-section .signup-form .signup-body .group-checkbox .custom-checkbox .custom-control-label::before {
  color: #fff;
  background-color: transparent;
  border: 3px solid #717171;
  border-radius: 0;
  left: -30px;
}

.signup-section .signup-form .signup-body .group-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #006586;
  border: 3px solid #006586;
}

.signup-section .signup-form .signup-body .group-checkbox .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../images/check.png");
  width: 11px !important;
  height: 7px !important;
  background-position: center;
  left: -27px;
  top: 9px;
  background-size: cover;
}

.signup-section .signup-form .signup-body .group-checkbox .custom-checkbox.selected .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../images/cutom-check.png");
  height: 3px !important;
  top: 11px;
}

.signup-section .signup-form .signup-body .form-group textarea {
  height: 90px;
  min-height: 90px;
}

.signup-section .signup-form .signup-body .form-group select {
  background-image: none;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.signup-section .signup-form .signup-body .form-group label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 5px;
}

.signup-section .signup-form .signup-body .form-group .form-control {
  height: 40px;
  font-size: 16px;
}

.signup-section .signup-form .signup-body .form-group .form-control:focus {
  border-color: #333333 !important;
}

.signup-section .signup-form .signup-body .form-group .form-control::-webkit-input-placeholder {
  font-style: italic;
  color: #717171;
}

.signup-section .signup-form .signup-body .form-group .form-control:-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.signup-section .signup-form .signup-body .form-group .form-control::-ms-input-placeholder {
  font-style: italic;
  color: #717171;
}

.signup-section .signup-form .signup-body .form-group .form-control::placeholder {
  font-style: italic;
  color: #717171;
}

.signup-section .signup-form .signup-body .form-group .forgot-link {
  display: block;
  text-align: left;
  color: #3398B9;
  font-size: 16px;
  font-weight: 22px;
  margin: 5px 0;
}

.signup-section .signup-form .signup-body .form-group .forgot-link a {
  color: #3398B9;
  text-decoration: underline;
}

.signup-section .signup-form .signup-body .form-group .forgot-link a:hover {
  color: #006586;
}

.signup-section .signup-form .signup-footer {
  background-color: #E8E8E8;
  padding: 20px;
}

.signup-section .signup-form .signup-footer .captcha {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.signup-section .signup-form .signup-footer .captcha img {
  width: 100%;
  height: auto;
}

.signup-section .signup-form .signup-footer .captcha-info P {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.signup-section .signup-form .signup-footer .signup-btns {
  padding: 15px 0px 0 0;
}

.signup-section .signup-form .signup-footer .btn-groups .btn {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  line-height: 26px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-section .signup-form .signup-footer .btn-groups .btn-blue {
  background-color: #006586;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-section .signup-form .signup-footer .btn-groups .btn-blue:hover {
  background-color: #00516B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-section .signup-form .signup-footer .btn-groups .btn-yello {
  background-color: #D77009;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-section .signup-form .signup-footer .btn-groups .btn-yello:hover {
  background-color: #AC5A07;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signup-section .signup-form .signup-footer .btn-groups .text-or {
  margin: 10px 0;
  text-align: center;
  position: relative;
}

.signup-section .signup-form .signup-footer .btn-groups .text-or span {
  background-color: #ffffff;
  padding: 5px 8px;
  position: relative;
  z-index: 1;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.signup-section .signup-form .signup-footer .btn-groups .text-or:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #D6D6D6;
  left: 0;
  top: 14px;
  display: block;
  z-index: 0;
}

.signup-section .signup-form .educator-not {
  padding: 15px 0;
}

.signup-section .signup-form .educator-not p {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}

.signup-section .signup-form .educator-not p .text-link {
  color: #3398B9;
}

.container-960 {
  max-width: 960px;
  width: 100%;
}

@media (max-width: 767px) {
  .user-signin .dropdown-menu {
    right: -20px !important;
    min-width: 300px !important;
  }
  .modal.modal-auth .modal-dialog .modal-content .modal-header h5 {
    font-size: 18px;
  }
  .modal.modal-auth .modal-dialog .modal-content .modal-body .login-form-main .login-form .form-group label {
    font-size: 16px;
  }
  .header-signup .navbar {
    height: auto;
  }
  .header-signup .navbar .logo-heder {
    position: absolute;
    top: 10px;
    padding: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .header-signup .navbar .logo-heder .navbar-brand {
    margin: 0 0 0 40px !important;
  }
  .header-signup .navbar .logo-heder .navbar-brand img {
    height: 25px !important;
    width: auto !important;
    top: 2px;
  }
  .header-signup .navbar .navbar-toggler {
    top: -15px;
  }
  .header-signup .main-header .top-header-right .user {
    top: 15px;
  }
  .middle-section .signup-section .signup-info .signup-info-box {
    padding: 0 0 0 85px;
  }
  .middle-section .signup-section .signup-info .signup-info-box .info-icon {
    height: 60px;
    width: 60px;
  }
  .middle-section .signup-section .signup-info .signup-info-box .info-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .middle-section .signup-section .signup-form .signup-header h3 {
    font-size: 20px;
  }
  .middle-section .signup-section .signup-form .signup-body .form-group label {
    font-size: 16px;
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .header-signup .sub-header .navbar-nav {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) and (min-width: 996px) {
  .header-signup .sub-header .navbar-nav {
    max-width: 600px;
    margin: 0 auto;
  }
  .header-signup .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    padding: 8px 20px;
  }
  .header-signup .fixed-top .logo-heder {
    left: unset;
  }
  .header-signup .navbar {
    height: auto;
  }
  .header-signup .navbar .logo-heder {
    position: absolute;
    top: 10px;
    padding: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .header-signup .navbar .logo-heder .navbar-brand {
    margin: 0 0 0 40px !important;
  }
  .header-signup .navbar .logo-heder .navbar-brand img {
    height: 30px !important;
    width: auto !important;
    top: 4px;
    position: relative;
  }
  .header-signup .navbar .navbar-toggler {
    top: -15px;
  }
  .header-signup .main-header .top-header-right .user {
    top: 10px;
  }
}

@media (max-width: 996px) and (min-width: 768px) {
  .header-signup .sub-header .navbar-nav {
    max-width: 380px;
    margin: 0 auto;
  }
  .header-signup .navbar .logo-heder .navbar-brand img {
    height: 30px !important;
  }
  .header-signup .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
    font-size: 14px;
  }
  .header-signup .fixed-top .logo-heder {
    left: unset;
  }
  .header-signup .navbar {
    height: auto;
  }
  .header-signup .navbar .logo-heder {
    position: absolute;
    top: 10px;
    padding: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .header-signup .navbar .logo-heder .navbar-brand img {
    height: 30px !important;
    width: auto !important;
    top: 4px;
    position: relative;
  }
  .header-signup .navbar .navbar-toggler {
    top: -15px;
  }
  .header-signup .main-header .top-header-right .user {
    top: 10px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
  .header-signup .navbar .logo-heder .navbar-brand {
    margin: 0 0 0 40px !important;
  }
  .header-signup .navbar .logo-heder {
    top: 10px !important;
    left: 0;
  }
}
/*# sourceMappingURL=login-signup.css.map */